[Unit]
Description=Laravel Admin Service
# start after mariadb
After=mariadb.service

[Install]
WantedBy=multi-user.target

[Service]
# lararvel admin directory
WorkingDirectory=
# start
ExecStart=/usr/bin/php artisan swoole:http start
# reload
ExecReload=/usr/bin/php artisan swoole:http reload
# stop
ExecStop=/usr/bin/php artisan swoole:http stop
# restart
Restart=on-failure
# restart time
RestartSec=5s
